/* Declaración de variables CSS para colores */
:root {
    --azul: blue;
    --verde: green;
    --amarillo: yellow;
    --naranja: orange;
    --rojo: red;
}

/* Estilos generales para el cuerpo del documento */
body {
    padding: 20px; /* Espaciado interno */
    margin: 10vh; /* Margen vertical */
    text-align: center; /* Alinear contenido al centro */
}

/* Clase .reloj que aplica una animación de rotación */
.reloj {
    width: 300px; /* Ancho del reloj */
    animation: rotarReloj 10s linear; /* Animación de rotación */
}

/* Contenedor de progreso, con estilos generales */
.progreso {
    width: 80%; /* Ancho del contenedor de progreso */
    height: 10vh; /* Altura controlada */
    border: var(--rojo) solid 1vh; /* Borde rojo grueso */
    border-radius: 15rem; /* Bordes redondeados */
    overflow: hidden; /* Oculta el contenido que sobresalga */
    margin: 0 auto; /* Centra el contenedor */
}

/* Relleno que crece dentro del contenedor de progreso */
.relleno {
    width: 0%; /* Inicia vacío */
    height: 100%; /* Altura completa del contenedor */
    animation: recorrerRelleno 10s linear forwards; /* Animación de crecimiento del relleno */
}

/* Definición de la animación de rotación */
@keyframes rotarReloj {
    100% {
        transform: rotate(360deg); /* Rotación completa de 360 grados */
    }
}

/* Definición de la animación del relleno */
@keyframes recorrerRelleno {
    0% {
        width: 0%; /* Comienza vacío */
        background-color: var(--azul); /* Color inicial azul */
    }
    25% {
        width: 50%; /* Llega al 50% de ancho */
        background-color: var(--verde); /* Cambio a color verde */
    }
    50% {
        width: 80%; /* Llega al 80% de ancho */
        background-color: var(--amarillo); /* Cambio a color amarillo */
    }
    75% {
        width: 50%; /* Vuelve al 50% */
        background-color: var(--naranja); /* Cambio a color naranja */
    }
    100% {
        width: 100%; /* Termina al 100% */
        background-color: var(--rojo); /* Cambio a color rojo */
    }
}
